<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <beans>
        <bean id="connectionMaker" class="toby.spring.user1_3.NConnectionMaker"></bean>
        <bean id="userDao" class="toby.spring.user1_3.UserDao">
            <property name="connectionMaker" ref="connectionMaker"></property>
        </bean>
    </beans>
</beans>